# define the country code of the country the sitemap is for
country_id:0
country_code:us
root_site:www.ratemyteachers.com
sitemap_directory:sitemaps

# define the frequency of page update and priority
change_freq:daily
priority:0.5

# define where the organization, person, and rating dumps are stored
org_person_dump_path:../../resources/dumps/us_org_person.txt
rating_dump_path:../../resources/dumps/us_ratings.txt

# define which sitemaps should be generated
generate_org_sitemap:true
generate_person_sitemap:true
generate_person_review_sitemap:true
generate_rating_sitemap:true

# define what each sitemap is called
org_sitemap_called:schools
person_sitemap_called:teachers
person_review_sitemap_called:person_review
rating_sitemap_called:ratings

# define sitemap output options
sitemap_output_path:../../resources/sitemaps
sitemap_index_filename:sitemap-us.xml
num_items_per_urlset:40000